.page {
  padding: 20px;
  flex-grow: 1;
}

.titleArea {
  padding-bottom: 20px;
}

.titleText {
  text-align: left;
}

.table {
  width: 100%;
  border-collapse: collapse;

  tr {
    height: 30px;
  }

  th,
  td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: solid 1px;
    user-select: none;
  }
}

.column_first {
  width: 40%;
}

.column_second {
  width: 20%;
}

.column_third {
  width: 20%;
}

.column_fourth {
  width: 15%;
}
