.aside {
  width: 250px;
  background-color: #16423c;
}

.nav {
  padding: 20px 10px;

  div {
    padding: 7px 5px;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: #6a9c89;
    }
  }
}
