.item {
  display: flex;
  height: 25px;
  align-items: center;
  padding: 7px 0;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: #6a9c89;
  }
}

.itemTitle {
  color: white;
}

.link {
  width: 100%;
}

.iconArea {
  width: 25px;
  height: 25px;
}
